<#@ template visibility="internal" #>
<#@ import namespace="CodeGeneration.ServerCodeGenerator.Model" #>
namespace NRIAwards.DAL.Base.Interface.Extended;

public interface IExtended<#= EntityDescription.PluralName #>Repository
{

}
<#+
	internal EntityDescription EntityDescription;
	internal DALExtendedInterfaseTemplate(EntityDescription entityDescription) {
		EntityDescription = entityDescription;
	}
#>